h1 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 30px;
}
ul {
  list-style: none;
}
hr {
  margin-top: 0;
  padding-top: 0;
}
.container {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 10px;
  max-width: 500px;
  margin-top: 100px;
}
.current-city {
  padding: 10px;
}
.current-temp {
  font-size: 45px;
  padding-left: 20 px;
}
.element {
  padding-left: 0px;
}
.hour-intervals {
  text-align: center;
}
.temp-by-hour {
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
}
#body {
  margin: 0px auto;
  min-height: 100vh;
  min-width: fit-content;
  background: url("https://images.pexels.com/photos/37728/pexels-photo-37728.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center;
}
#current-conditions {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#date-time {
  margin-top: 5px;
  font-size: 15px;
}
#description {
  font-size: 20px;
}
#icon {
  font-size: 45px;
  color: rgb(20, 109, 109);
}
#source {
  color: rgb(34, 33, 33);
  font-weight: bolder;
  text-align: center;
}
